<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Supermercado</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <section class="about-section">
            <h2>Sobre Nosotros</h2>
            <p>Bienvenido al Supermercado Mi-Plaza, tu destino de confianza para todas tus necesidades de compra.
                Fundado en 2015, hemos estado sirviendo a la comunidad con productos de alta calidad y un servicio
                excepcional.</p>
            <h2>Mision</h2>
            <p>Nuestra misión en "Mi Plaza": es proporcionar a nuestros clientes una experiencia de compra agradable y
                conveniente. Ofrecemos una amplia variedad de productos frescos, desde frutas y verduras hasta carnes y
                productos lácteos, todo bajo un mismo techo.</p>
            <h2>Visión</h2>
            <p>Nuestra visión es ser el supermercado de referencia en la región, reconocido por nuestra excelencia en el
                servicio al cliente, la calidad de nuestros productos y nuestro compromiso con el medio ambiente y la
                comunidad. Queremos ser el lugar donde las familias encuentren todo lo que necesitan para una vida
                saludable y feliz.</p>
            <p>En el Supermercado V"Mi Plaza", nos enorgullecemos de nuestro compromiso con la sostenibilidad y la
                responsabilidad social. Trabajamos con proveedores locales para asegurar que nuestros productos sean
                frescos y de la más alta calidad, al mismo tiempo que apoyamos a nuestra comunidad.</p>
            <p>Gracias por elegir al Supermercado Mi-Plaza, Esperamos verte pronto en nuestras tiendas.</p>
            <h2>objetivos</h2>
            <p>Capacitación y Desarrollo del Personal: Invertir en la capacitación y desarrollo de nuestros empleados
                para mejorar el servicio al cliente y fomentar un ambiente de trabajo positivo y motivador. <br>
                Fidelización del Cliente: Implementar programas de fidelización y recompensas para nuestros clientes
                frecuentes, incentivando la lealtad y el compromiso con nuestra marca.
                Estos objetivos nos guiarán en nuestro camino hacia el 2026, asegurando que "Mi Plaza" siga siendo un
                lugar de confianza y excelencia para nuestros clientes y la comunidad.
            </p>
        </section>
    </div>
<script src="../js/UsuariosUpdate.js"></script>
</body>
</html>
