<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Servicios - Mi Plaza</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <section class="about-section">
        <h2>Servicios</h2>
        <p>En el Supermercado Mi-Plaza, nos enorgullecemos de ofrecer una amplia gama de servicios diseñados para hacer tu experiencia de compra lo más conveniente y agradable posible.</p>

        <h2>Servicio de Entrega a Domicilio</h2>
        <p>Ofrecemos un servicio de entrega a domicilio rápido y confiable. Realiza tu pedido en línea y recíbelo en la comodidad de tu hogar. Nos aseguramos de que tus productos lleguen frescos y en perfectas condiciones.</p>

        <h2>Programa de Fidelización</h2>
        <p>Únete a nuestro programa de fidelización y disfruta de beneficios exclusivos. Acumula puntos con cada compra y canjéalos por descuentos y recompensas. ¡Cuanto más compres, más ahorrarás!</p>

        <h2>Servicio de Atención al Cliente</h2>
        <p>Nuestro equipo de atención al cliente está siempre disponible para ayudarte con cualquier consulta o problema. Ya sea en la tienda o a través de nuestro servicio de atención telefónica, estamos aquí para asistirte.</p>

        <h2>Productos Frescos y de Calidad</h2>
        <p>En Mi-Plaza, nos comprometemos a ofrecer productos frescos y de la más alta calidad. Trabajamos con proveedores locales para asegurar que nuestras frutas, verduras, carnes y productos lácteos sean siempre frescos y deliciosos.</p>

        <h2>Promociones y Ofertas Especiales</h2>
        <p>Regularmente ofrecemos promociones y ofertas especiales para que puedas ahorrar en tus compras. Mantente atento a nuestras promociones semanales y aprovecha los mejores precios.</p>

        <h2>Compromiso con el Medio Ambiente</h2>
        <p>En Mi-Plaza, estamos comprometidos con la sostenibilidad y la responsabilidad social. Implementamos prácticas ecológicas y trabajamos con proveedores que comparten nuestros valores de protección del medio ambiente.</p>

        <p>Gracias por elegir al Supermercado Mi-Plaza. Esperamos verte pronto en nuestras tiendas.</p>
    </section>
</div>
<script src="UsuariosUpdate.js"></script>
</body>
</html>
